---
import { Container } from "../common";
import { Logo } from "@assets/images";
import { Data } from "@utils/index";
import { SocialIcons } from "../common";
import { LiaLongArrowAltRightSolid } from "react-icons/lia";
import { FiPhone } from "react-icons/fi";
import { MdOutlineEmail } from "react-icons/md";
---

<footer class="w-full h-[400px] bg-[#e1f5ec]">
    <Container>
        <!-- Grid Columns -->
        <div class="grid grid-cols-4 gap-x-10 mt-[100px]">
            <!-- Column 1 -->
            <div>
                <img src={Logo} alt={"logo"} width={"200"} height={"200"} />
                <p class="text-darkBlue mt-5 font-bold">19b Ilabere Ave, Ikoyi Lagos Nigeria</p>
                <div class="mt-5">
                    <SocialIcons size={'20px'} />
                </div>
            </div>

            <!-- Column 2 -->
            <div>
                <h4 class="text-[24px] font-semibold text-darkBlue">Company</h4>
                <ul class="mt-5 cursor-pointer">
                    {
                        Data.footer_company.map(item => (
                            <div class="flex gap-2 mb-3">
                                <div class="w-[20px] h-[20px] bg-[#0FCC7C] flex justify-center items-center rounded-full">
                                    <LiaLongArrowAltRightSolid color={"#fff"} size={"18px"} />
                                </div>
                                <a href={item.path} class="font-semibold text-darkBlue">{item.link}</a>
                            </div>
                        ))
                    }
                </ul>
            </div>

            <!-- Column 3 -->
            <div>
                <h4 class="text-[24px] font-semibold text-darkBlue">Support</h4>
                <ul class="mt-5 cursor-pointer">
                    {
                        Data.footer_support.map(item => (
                            <div class="flex gap-2 mb-3">
                                <div class="w-[20px] h-[20px] bg-[#0FCC7C] flex justify-center items-center rounded-full">
                                    <LiaLongArrowAltRightSolid color={"#fff"} size={"18px"} />
                                </div>
                                <a href={item.path} class="font-semibold text-darkBlue">{item.link}</a>
                            </div>
                        ))
                    }
                </ul>
            </div>

            <!-- Column 4 -->
            <div class="mt-1">
                <h4 class="text-[24px] font-semibold text-darkBlue">Get in touch</h4>
                <div class="flex-col mt-2">
                    <!-- Circle -->
                    <div class="flex gap-x-3 mt-5">
                        <div class="w-[50px] h-[50px] p-4 bg-[#0FCC7C] flex justify-center items-center rounded-full">
                            <MdOutlineEmail color={"#fff"} size={"30px"} />
                        </div>
                        <div class="flex-col">
                            <p class="text-[18px] font-semibold text-gray-700">Email Support</p>
                            <h6 class="text-[28px] font-semibold text-darkBlue">info@lpvtech.com</h6>
                        </div>
                    </div>

                    <!-- Circle -->
                    <div class="flex gap-x-3 mt-5">
                        <div class="w-[50px] h-[50px] p-4 bg-[#0FCC7C] flex justify-center items-center rounded-full">
                            <FiPhone color={"#fff"} size={"30px"} />
                        </div>
                        <div class="flex-col">
                            <p class="text-[18px] font-semibold text-gray-700">24/7 Emergency Service</p>
                            <h6 class="text-[28px] font-semibold text-darkBlue">+2348495833349</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </Container>
</footer>