---
import { SocialIcons } from '@components/common';
import { Common } from '@components/index';
import Layout from '@components/layout.astro';
import { Data } from '@utils/index';
---

<Layout title='LpvTech Website - Contact Us'>
    <!-- Hero Section -->
    <Common.Hero backgroundImage={'https://res.cloudinary.com/du52ca1q1/image/upload/v1721828968/african-american-technician-checks-maintenance-solar-panels-group-three-black-engineers-meeting-solar-station-make-deal-with-money_hh51ai.jpg'} header='Contact us' caption='' />

    <!-- Feedback Section -->
    <section class="w-full min-h-screen py-10 md:py-32">
        <Common.Container>
            <div class="flex flex-col md:flex-row gap-y-10 md:gap-x-20">
                <div class="w-full md:w-[40%] flex-col md:mt-20">
                    <!-- Left Content -->
                    <h6 class="uppercase text-base text-[#0fcc7c] font-bold">Send us a message</h6>
                    <h2 class="text-[26px] md:text-[40px] text-darkBlue font-bold mt-3 md:leading-[50px]">
                        Have a question or feedback?
                    </h2>
                    <p class="text-gray-500 mt-5 border-b border-gray-200 pb-10">
                        Let us know how we can help you. We are here to answer any questions you may have about our services. Reach out to us and we'll respond as soon as we can.
                    </p>
                    <div class="flex mt-5 gap-x-5">
                        <h4 class="text-darkBlue text-[25px] font-semibold">Follow Us :</h4>
                        <div class="h-[24px] cursor-pointer">
                            <SocialIcons size='24px' />
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-[50%] shadow-2xl rounded-2xl">
                    <div class="w-full px-5 md:px-0">
                        <Common.Form padding={true} contact={true} />
                    </div>
                </div>
            </div>
        </Common.Container>
    </section>

    <!-- Map -->
    <section class="w-full min-h-screen">
            <div class="flex flex-col md:flex-row h-[100%]">
                <!-- Map Component -->
                <div class="w-full md:w-2/4 h-[500px] md:h-[auto]">
                    <iframe 
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3964.631666332971!2d3.4428553758847267!3d6.441322424111006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103bf4e2329cccd9%3A0xfe448b5f92a8f738!2s19b%20Ilabere%20Ave%2C%20Ikoyi%2C%20Lagos%20106104%2C%20Lagos!5e0!3m2!1sen!2sng!4v1721985430514!5m2!1sen!2sng" 
                    width="100%" 
                    height="100%" 
                    style="border:0;" 
                    allowfullscreen="true" 
                    loading="lazy" 
                    referrerpolicy="no-referrer-when-downgrade"
                    ></iframe>
                </div>
                <div class="w-full md:w-2/4 h-full bg-[#00384F] pb-5 md:pb-20">
                    <Common.Container>
                        <div class="flex-col pt-10 md:pt-20">
                            <h6 class="uppercase text-base text-[#0fcc7c] font-bold">Get in touch</h6>
                            <h2 class="text-[26px] leading-[32px] md:text-[40px] text-white font-bold mt-3 md:leading-[50px]">
                                Seamless Communication, Global Impact.
                            </h2>
                            <p class="text-gray-200 mt-5 border-b border-gray-600 pb-10">
                                Our team is always ready to help you with any questions or concerns you may have. Feel free to reach out to us.
                            </p>
                            <div class="mt-10 flex-col">
                                {
                                    Data.contactList.map(item => (
                                        <div class="flex gap-x-5 mb-5">
                                            <div class="h-full">
                                                <div class={`w-[max-content] p-3 mx-auto bg-[#0fcc7c] rounded-full`}>
                                                    <item.icon size={'35px'} color="#fff" />
                                                    </div>
                                            </div>
                                            <div class="w-full md:w-3/4 flex-col md:flex-wrap ml-0">
                                                <h3 class="text-[18px] font-bold text-white">{item.title}</h4>
                                                <div class="flex-col">
                                                    <p class="text-base text-gray-400 mt-1 md:pr-20">
                                                        {item.headingOne}
                                                    </p>
                                                    <p class="text-base text-gray-400 mt-1 md:pr-20">
                                                        {item.headingTwo}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    ))
                                }
                            </div>
                        </div>
                    </Common.Container>
                </div>
            </div>
    </section>
</Layout>