---
import { Layout, Helpers, Common } from "@components/index"
import { HiOutlineLightBulb } from "react-icons/hi";
import { Image } from "astro:assets";
import { EnergyImg } from "@assets/images"
import { Data } from "@utils/index";
import "@styles/styles.css";
import { IoMdCheckmark } from "react-icons/io";

---

<Layout>
	<!-- Carousel -->
	<Helpers.Carousel client:load />
	<!-- Cards -->
	<section class="absolute z-10 top-[800px] mx-auto w-full pb-10">
		<Common.Container>
			<!-- First Card -->
			<div class="w-[400px] text-white text-center shadow-2xl rounded-[20px] p-[30px] h-[300px] bg-green">
				<h4 class="text-[24px] text-center font-bold mb-5">Since 2010, our customers have avoided</h4>
				<Helpers.Counter client:load from={0} to={1000000} />
				<h4 class="text-[24px] text-center font-bold mt-5">Pounds of CO2</h4>
			</div>
			<!-- Second Card -->
			<div class="w-[750px] rounded-[20px] p-[50px] h-[300px] shadow-2xl bg-white">
				<h4 class="text-[24px] text-deepBlue font-bold mb-5">Let's utilize sun, wind and water in a better way</h4>
				<p class="text-base text-deepBlue">
					Ac facilisi dolor lobortis a faucibus imperdiet sapien laoreet pellentesque vulputate. Euismod posuere viverra adipiscing gravida venenatis. Vitae augue potenti inceptos parturient ante porttitor dictum auctor.
				</p>
				<div class="mt-10">
					<Common.Button path="#" text="Learn More" className="py-2 px-4 text-[16px] mt-6 text-white bg-green rounded-full baseline hover:bg-darkBlue" />
				</div>
			</div>
		</Common.Container>
	</section>

	<!-- About Us Section -->
	<section class="w-full pt-[400px] pb-10">
		<Common.Container>
			<!-- Left Content -->
			<div class="w-2/4 flex-col flex-wrap">
				<h6 class="text-base font-bold text-green uppercase">About Us</h6>
				<h2 class="text-[40px] leading-[45px] mt-5 text-deepBlue font-bold">Renewable Energy For a Sustainable World</h2>
				<p class="text-base text-deepBlue mt-5 pr-10">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo
				</p>
				<!-- Card -->
				<div class="w-[90%] mt-10 flex rounded-xl bg-lightGreen p-5">
					<!-- Bulb Icon -->
					<div>
						<HiOutlineLightBulb color="#0FCC7C" size={'35px'} />
					</div>
					<div class="ml-4">
						<h3 class="text-base text-deepBlue font-bold">The Idea</h3>
						<p class="text-sm text-deepBlue mt-2">
							Fermentum vehicula venenatis tellus dolor a luctus sodales lectus cras nullam senectus
						</p>
					</div>
				</div>
			</div>
			<!-- Right Image -->
			<div class="w-2/4 h-full">
				<Image src={EnergyImg} alt={"energy image"} class={"w-full h-full rounded-xl"} />
			</div>
		</Common.Container>
	</section>

	<!-- Our Business Section -->
	<section class="w-full mt-40">
		<!-- Banner -->
		<div class="w-full h-[600px] bg-cyan-900 pt-[150px] pb-10">
			<Common.Container>
				<div class="w-3/5 flex-col justify-center items-center mx-auto text-center">
					<h6 class="text-base uppercase text-green font-bold">Our Business</h6>
					<h2 class="text-[48px] text-white font-bold mt-3">Cleaner Energy for a Cleaner World</h2>
					<p class="text-base text-white mt-3">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
					</p>
				</div>
			</Common.Container>
		</div>
		<!-- Properties -->
		<div class="w-full pb-10 -mt-[100px]">
			<Common.Container>
				{
					Data.businessData.map(item => (
						<div class="w-[380px] h-[500px] shadow-2xl rounded-[20px]">
							<Image src={item.thumbnail} alt={"property thumbnail"} class={"w-full h-[250px] rounded-tr-[20px] rounded-tl-[20px]"} />
							<div class="h-auto text-center p-5">
								<h3 class="text-deepBlue font-bold mb-2 text-[24px]">{item.property}</h3>
								<p class="text-tinyGrey font-normal">{item.content}</p>
								<div class="mt-10">
								<Common.Button path="#" text="Learn More" className="py-2 px-4 text-white text-[14px] bg-green rounded-full baseline hover:bg-darkBlue" />
								</div>
							</div>
						</div>
					))
				}
			</Common.Container>
		</div>
	</section>

	<!-- What we offer section -->
	<section class="w-full min-h-screen pt-40">
		<Common.Container flex="flex-col">
			<div class="w-3/5 flex-col justify-center items-center mx-auto text-center">
				<h6 class="text-base uppercase text-green font-bold">What we offer</h6>
				<h2 class="text-[48px] text-darkBlue font-bold mt-3">Let's add green energy to life</h2>
				<p class="text-base text-tinyGrey mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			</div>
			<!-- Services Cards -->
			<div class="grid grid-cols-3 gap-10 mt-20">
				{
					Data.servicesData.map(item => (
						<div class="_card cursor-pointer w-[390px] h-auto py-10 shadow-2xl rounded-3xl">
							<Common.Container flex="flex-col">
								<div class="w-[60px] h-[60px] rounded-xl bg-[#e1f5ec]" />
								<h3 class="text-[18px] font-bold mt-5 text-deepBlue mb-3">{item.service}</h3>
								<p class="text-base">{item.description}</p>
								<div class="mt-10">
									<Common.Button path="#" text="Learn More" className="_button py-2 px-4 text-white text-[14px] bg-green rounded-full baseline hover:bg-darkBlue" />
								</div>
							</Common.Container>
						</div>
					))
				}
			</div>
		</Common.Container>
	</section>

	<!-- Get a Quote Section -->
	<section class="w-full min-h-screen mt-20 pt-[10%]">
		<div class="w-full h-4/5 py-20 bg-darkBlue">
			<Common.Container>
				<!-- Form -->
				<div class="w-3/5">
					<div class="w-4/5 -mt-[200px] shadow-2xl rounded-2xl bg-white py-20 px-10">
						<Common.Form />
					</div>
				</div>
				<!-- Benefits -->
				<div class="w-2/5 pt-7">
					<h6 class="uppercase text-green">Get a Quote</h6>
					<h2 class="text-[48px] text-white font-bold mt-3">Let's experience the power of the sun</h2>
					<p class="text-base text-white mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<div class="mt-10 flex-col justify-center items-center">
						{
							Data.benefits.map(item => (
								<div class="flex">
									<IoMdCheckmark color="green" size={"24px"} />
									<p class="text-white pb-2 pl-3">{item.benefit}</p>
								</div>
							))
						}
					</div>
				</div>
			</Common.Container>
		</div>
	</section>

	<!-- Why choose us section -->
	<section class="w-full min-h-screen pt-40">
		<Common.Container flex="flex-col">
			<div class="flex-col justify-center items-center mx-auto text-center">
				<h6 class="uppercase text-green font-bold">Why choose us</h6>
				<h2 class="text-[48px] text-darkBlue font-bold mt-2">10+ Years of Industry Experience.</h2>
				<p class="text-base text-darkBlue mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			</div>
			<!-- Cards -->
			<div class="grid grid-cols-3 gap-10 mt-20">
				{
					Data.qualifications.map(item => (
						<div class="cursor-pointer transition ease-in-out delay-150 duration-400 w-[390px] h-auto py-10 hover:shadow-2xl hover:rounded-3xl">
							<Common.Container flex="flex-col">
								<div class="w-[60px] h-[60px] rounded-xl bg-[#e1f5ec]" />
								<h3 class="text-[18px] font-bold mt-5 text-deepBlue mb-3">{item.title}</h3>
								<p class="text-base">{item.description}</p>
							</Common.Container>
						</div>
					))
				}
			</div>
		</Common.Container>
	</section>

	<!-- Our projects section -->
	<section class="w-full min-h-screen pt-20">
		<Common.Container>
			<div class="w-2/5 h-screen mr-20 bg-cover bg-no-repeat bg-center rounded-xl" style={{ backgroundImage: 'url(./images/project.jpg)'}} />
			<div class="w-3/5">
				<h6 class="uppercase text-green font-bold">Our Project</h6>
				<h2 class="text-[40px] text-darkBlue font-bold mt-2 leading-10">The better source of energy for the better tomorrow</h2>
				<p class="text-base text-darkBlue mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
				<div class="grid grid-cols-2 gap-5 mt-10">
					{
						Data.qualifications.map(item => (
							<div class="w-[300px] h-auto items-center">
									<div class="w-[60px] h-[60px] rounded-xl bg-[#e1f5ec]" />
									<h3 class="text-[18px] font-bold mt-5 text-deepBlue mb-3">{item.title}</h3>
									<p class="text-base">{item.description}</p>
							</div>
						))
					}
				</div>
			</div>
		</Common.Container>
	</section>

	<!-- Live Green Section -->
	<section class="mt-40 pt-40 w-full min-h-[80vh] mb-20 bg-cover bg-no-repeat bg-center" style={{ backgroundImage: 'linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(./images/offset.jpg)'}}>
		<div class="w-2/4 mx-auto flex-col justify-center items-center text-white text-center">
			<h2 class="text-[48px] font-bold">Live Green, Love Green, Think Green.</h2>
			<p class="mt-4 text-[17px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
			<div class="mt-10">
				<Common.Button path="#" text="Contact Us" className="py-3 px-8 text-white text-[16px] bg-green rounded-full baseline hover:bg-darkBlue" />
			</div>
		</div>
	</section>

	<!-- New & Articles Section -->
	<section class="w-full min-h-screen mt-40">
		<Common.Container>
			<div class="flex-col">
				<h6 class="uppercase text-green font-bold">Insight</h6>
				<h3 class="text-[36px] text-darkBlue font-bold">Latest news & article</h3>
			</div>
			<div class="mt-5">
				<Common.Button path="#" text="View more" className="py-3 px-8 text-white text-[16px] bg-green rounded-full baseline hover:bg-darkBlue" />
			</div>
		</Common.Container>
		<Common.Container>
			<div class="mt-10 flex justify-between items-center gap-5">
				{
					Data.articles.map(item => (
						<div class="w-[290px] h-[500px]">
							<a href="#">
							<Image src={item.thumbnail} alt={"thumbnail image"} class={"w-full h-[200px] mb-5 rounded-xl"} />
							</a>
							<a href="#" class="text-[18px] text-darkBlue font-bold hover:text-green">{item.title}</a>
							<p class="text-green text-[13px] pt-1">{item.date}</p>
							<p class="mt-3 text-[15px]">{item.description}</p>
						</div>
					))
				}
			</div>
		</Common.Container>
	</section>
</Layout>
