---
import { Layout, Helpers, Common } from "@components/index"
import { Image } from "astro:assets";
import { Data, Queries } from "@utils/index";
import "@styles/styles.css";
import { IoMdCheckmark } from "react-icons/io";
import type { CollectionEntry } from "astro:content";
import { sanityClient } from "sanity:client";

const projects: CollectionEntry<'projects'>[] = await sanityClient.fetch(Queries.projects)
// const currentPage: number | null = +Astro.url.searchParams.get('page')! || 1;
// const totalPages: number = Math.ceil(articles.length / Constants.ARTICLES_PER_PAGE);
// const articlesInPage: CollectionEntry<'blog'>[] = articles.slice((currentPage - 1) * Constants.ARTICLES_PER_PAGE, currentPage * Constants.ARTICLES_PER_PAGE)
---

<Layout>
	<!-- Carousel -->
	<Helpers.Carousel client:load />
	<!-- Cards -->
	<section class="absolute z-10 top-[700px] mx-auto w-full pb-10">
		<Common.Container>
			<!-- First Card -->
			<div class="w-[400px] text-white text-center shadow-xl rounded-[20px] p-[30px] h-[300px] bg-green">
				<h4 class="text-[24px] text-center font-bold mb-5">Since 2010, our customers have avoided</h4>
				<Helpers.Counter client:load from={0} to={1000000} />
				<h4 class="text-[24px] text-center font-bold mt-5">Pounds of CO2</h4>
			</div>
			<!-- Second Card -->
			<div class="w-[750px] rounded-[20px] p-[50px] h-[300px] shadow-xl bg-white">
				<h4 class="text-[24px] text-deepBlue font-bold mb-5">Let's utilize sun, wind and water in a better way</h4>
				<p class="text-base text-deepBlue">
					Ac facilisi dolor lobortis a faucibus imperdiet sapien laoreet pellentesque vulputate. Euismod posuere viverra adipiscing gravida venenatis. Vitae augue potenti inceptos parturient ante porttitor dictum auctor.
				</p>
				<div class="mt-10">
					<Common.Button path="#" text="Learn More" className="py-2 px-4 text-[16px] mt-6 text-white bg-green rounded-full baseline hover:bg-darkBlue" />
				</div>
			</div>
		</Common.Container>
	</section>

	<!-- About Us Section -->
	<section class="w-full pt-[400px] pb-10">
		<Common.Container>
			<!-- Left Content -->
			<div class="w-2/4 flex-col flex-wrap">
				<h6 class="text-base font-bold text-green uppercase">Who we are</h6>
				<h2 class="text-[40px] leading-[45px] mt-5 text-deepBlue font-bold">Renewable Energy For a Sustainable World</h2>
				<p class="text-base text-deepBlue mt-5 pr-20">
					Proin sem malesuada urna purus euismod lobortis magnis pretium nunc ad. 
					Eleifend est auctor mus nisi senectus justo. Senectus penatibus pellentesque dui praesent eu interdum.
				</p>
				<p class="text-base text-deepBlue mt-5 pr-20">
					Proin sem malesuada urna purus euismod lobortis magnis pretium nunc ad. 
					Eleifend est auctor mus nisi senectus justo. Senectus penatibus pellentesque dui praesent eu interdum.
				</p>
				<div class="mt-10">
					<Common.Button path="#" className="py-3 px-10 font-semibold text-white bg-green rounded-full baseline hover:bg-darkBlue" text="Discover more" />
				</div>
			</div>
			<!-- Right Image -->
			<div class="w-2/4 h-full">
				<div class="relative">
					<img src='https://res.cloudinary.com/du52ca1q1/image/upload/v1721828966/african-american-technician-checks-maintenance-solar-panels-group-three-black-engineers-meeting-solar-station_uwsd6x.jpg' alt={"energy image"} class={"w-full h-full rounded-xl"} />
				</div>
				{/* Card */}
				<div class="absolute w-[300px] h-[auto] py-10 px-7 bg-cyan-900 rounded-xl -mt-[220px] -ml-[30px]">
					<h6 class="text-green font-semibold text-[18px]">A Roadmap to Your Sustainable Energy Future.</h6>
					<p class="text-white pt-3 text-[14px]">Quis aliquam convallis nascetur per porta velit montes sagittis gravida euismod senectus</p>
					<div class="mt-7">
						<Common.Button path="#" className="py-2 px-5 text-white bg-green rounded-full baseline hover:bg-white hover:text-green" text="Learn more" />
					</div>
				</div>
			</div>
		</Common.Container>
	</section>

	<!-- Our clients section -->
	<section class="w-full mt-40">
		<Common.Container>
			<!-- Background card -->
			<div class="w-full h-auto py-7 bg-[#F5F7F8] rounded-xl mb-28">
				<div class="w-[90%] mx-auto flex-col justify-center items-center">
					<h3 class="text-center text-[28px] font-bold">LPV Tech is trusted by 6+ million users in <br /> 175+ countries.</h3>
					<!-- Grid container -->
					<div class="grid grid-cols-4 gap-4 my-10">
						{
							Data.clients.map(item => (
								<div class="w-[250px] h-[100px] bg-white rounded-[10px] flex justify-center items-center cursor-pointer">
									<Image src={item.img} alt="client" width={100} height={100} class={'grayscale hover:grayscale-0'} />
								</div>
							))
						}
					</div>
				</div>
			</div>
		</Common.Container>
		<hr />
		<Common.Container>
			<!-- Flex -->
			<div class="flex justify-between items-center gap-5 mt-20">
				{
					Data.services.map(item => (
						<div class="max-h-[250px] rounded-xl py-10 px-5 border border-solid border-gray-200 text-center cursor-pointer hover:shadow-xl">
							{/* Top Icon */}
							<div class={`w-[max-content] p-3 mx-auto bg-green rounded-xl`}>
								<item.icon size={'35px'} color="#fff" />
							</div>
							<h6 class="text-deepBlue text-[18px] font-bold pt-5">{item.title}</h6>
							<p class="pt-5">{item.description}</p>
						</div>
					))
				}
			</div>
		</Common.Container>
	</section>

	<!-- Live Green Section -->
	<section class="mt-20 pt-40 w-full min-h-[100vh] mb-20 bg-cover bg-no-repeat bg-center" style={{ backgroundImage: 'linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(https://res.cloudinary.com/du52ca1q1/image/upload/v1721828971/vecteezy_solar-panel-on-blue-sky-background_1235999_1_nioxd2.jpg)'}}>
		<div class="w-[40%] mx-auto flex-col justify-center items-center text-white text-center">
			<h2 class="text-[60px] leading-[60px] font-bold">Live Green, Love Green, Think Green.</h2>
			<p class="mt-4 text-[17px]">Est porta erat phasellus id penatibus. Iaculis commodo per quam potenti habitasse pretium conubia ultrices luctus praesent et.</p>
			<div class="mt-10">
				<Common.Button path="#" text="Discover more" className="py-3 px-8 text-white text-[16px] bg-green rounded-full baseline hover:bg-darkBlue" />
			</div>
		</div>
		<!-- Bottom Banner -->
		 <div class="w-full h-[150px] bg-cyan-900 mt-[180px] flex justify-center items-center">
			<div class="w-4/5 h-[100px] flex justify-center items-center">
				<div class="flex-col border-r-2 border-r-gray-300 pr-10">
					<span class="text-green text-[46px] font-bold"><Helpers.Counter client:load from={0} to={73} />K+</span>
					<p class="text-white text-center text-[18px] font-semibold">Happy Client</p>
				</div>
				<div class="flex-col border-r-2 border-r-gray-300 px-10">
					<span class="text-green text-center text-[46px] font-bold"><Helpers.Counter client:load from={0} to={5} />K+</span>
					<p class="text-white text-center text-[18px] font-semibold">Pro Technician</p>
				</div>
				<div class="flex-col border-r-2 border-r-gray-300 px-10">
					<span class="text-green text-[46px] font-bold"><Helpers.Counter client:load from={0} to={4} />M+</span>
					<p class="text-white text-center text-[18px] font-semibold">Wind Farms</p>
				</div>
				<div class="flex-col px-10">
					<span class="text-green text-[46px] font-bold"><Helpers.Counter client:load from={0} to={11} />M+</span>
					<p class="text-white text-center text-[18px] font-semibold">Solar Farms</p>
				</div>
			</div>
		 </div>
	</section>

	<!-- Our projects section -->
	<section class="w-full min-h-screen pt-20">
		<Common.Container>
				<Common.Project qualifications={Data.qualifications} />
		</Common.Container>
	</section>

	<!-- What we offer section -->
	<section class="w-full bg-gray-100 min-h-screen pt-32 pb-40 mt-40">
		<Common.Container flex="flex-col">
			<div class="w-3/5 flex-col justify-center items-center mx-auto text-center">
				<h6 class="text-base uppercase text-green font-bold">What we offer</h6>
				<h2 class="text-[48px] text-darkBlue font-bold mt-3 leading-[50px]">Keep your environment clean make the earth green</h2>
			</div>
			<!-- Services Cards -->
			<div class="grid grid-cols-3 gap-10 mt-20">
				{
					Data.servicesData.map(item => (
						<div class="bg-white cursor-pointer w-[390px] h-auto py-10 shadow-xl rounded-3xl hover:shadow-2xl">
							<Common.Container flex="flex-col">
								<div class="w-[60px] h-[60px] rounded-xl bg-[#e1f5ec] flex justify-center items-center">
									<item.icon color="#0FCC7C" size={'32px'}/>
								</div>
								<h3 class="text-[18px] font-bold mt-5 text-deepBlue mb-3">{item.service}</h3>
								<p class="text-base">{item.description}</p>
								<div class="mt-10">
									<Common.Button path="#" text="Learn More" className="_button py-2 px-4 text-white text-[14px] bg-green rounded-full baseline hover:bg-darkBlue" />
								</div>
							</Common.Container>
						</div>
					))
				}
			</div>
		</Common.Container>
	</section>

	<!-- Keep your environment green section -->
	<Common.GreenTwo />

	<!-- Why choose us -->
	<section class="w-full min-h-[4/5] bg-gray-100 pb-20">
		<Common.Container>
			<div class="w-full flex mt-20 gap-x-10">
				<div class="w-[35%] flex-col flex-wrap pt-10">
					<h6 class="uppercase text-green font-bold">Why choose us</h6>
					<h2 class="text-[38px] text-darkBlue font-bold mt-4 leading-[45px]">Empowering Your World with Reliable Solutions.</h2>
				</div>
				<div class="w-[65%] flex gap-x-4">
					{
						Data.solutions.map(item => (
						<div class="_solutions_card bg-white rounded-xl py-10 px-5 border border-solid border-gray-200 text-center cursor-pointer shadow-xl">
							{/* Top Icon */}
							<div class={`_top_icon w-[max-content] p-3 mx-auto bg-[#e1f5ec] rounded-xl`}>
								<item.icon size={'35px'} color="#0FCC7C" />
							</div>
							<h6 class="text-darkBlue text-[18px] font-semibold pt-5">{item.title}</h6>
							<p class="pt-5 text-gray-600">{item.description}</p>
						</div>
						))
					}
				</div>
			</div>
		</Common.Container>
	</section>

	<!-- Featured Projects -->
	<section class="w-full min-h-[100vh] pt-32">
		<Common.Container flex="flex-col">
			<div class="w-3/5 flex-col justify-center items-center mx-auto text-center">
				<h6 class="text-base uppercase text-green font-bold">Featured Projects</h6>
				<h2 class="text-[48px] text-darkBlue font-bold mt-3 leading-[52px]">Keep your environment clean make the earth green</h2>
			</div>
			<div class="w-full flex flex-wrap gap-6 mt-24">
				{
					projects.map(item => (
						<Common.Featured project={item}  />
					))
				}
			</div>
		</Common.Container>
	</section>

	<!-- Get a Quote Section -->
	<section class="w-full min-h-screen mt-40 bg-gray-100 py-36">
			<Common.Container>
				<!-- Form -->
				<div class="flex gap-10">
					<div class="w-[55%]">
						<div class="w-[90%] shadow-2xl rounded-2xl bg-white">
							<!-- Card Header -->
							<div class="w-full bg-darkBlue rounded-tr-2xl rounded-tl-2xl py-5 text-center">
								<h6 class="text-white font-bold text-[32px]">Book an Appointment</h6>
							</div>
							<div class="py-10 px-5">
								<Common.Form />
							</div>
						</div>
					</div>
					
					<!-- Benefits -->
					<div class="w-[45%] pt-7">
						<h2 class="text-[40px] text-darkBlue font-bold mt-3 leading-[50px] pb-10">Let's experience the power of the sun</h2>
						<hr />
						<p class="text-base text-darkBlue mt-5">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
						</p>
						<div class="mt-10 flex-col justify-center items-center">
							{
								Data.benefits.map(item => (
									<div class="flex">
										<div class="w-[20px] h-[20px] bg-green flex justify-center items-center rounded-full">
											<IoMdCheckmark color="#fff" size={"18px"} />
										</div>
										<p class="text-darkBlue pb-2 pl-3">{item.benefit}</p>
									</div>
								))
							}
						</div>
					</div>
				</div>
			</Common.Container>
	</section>

	<!-- Live Green Section -->
	<Common.Green />
	
</Layout>
