---
import { Common } from '@components/index';
import Layout from '@components/layout.astro';
import { Data } from '@utils/index';
import { TiSocialFacebook, TiSocialTwitter } from "react-icons/ti";
import { PiInstagramLogo } from "react-icons/pi";
import { PiArrowUpRight } from "react-icons/pi";
---

<Layout title='LpvTech Website - Team'>
    <!-- Hero Section -->
    <Common.Hero backgroundImage={'https://res.cloudinary.com/du52ca1q1/image/upload/v1721842907/african-american-technician-checks-maintenance-solar-panels-group-three-black-engineers-meeting-solar-station_1_zzyx5i.jpg'} header='Team' caption='Alone we can do so little, together we can do so much.' />

    <!-- Team Section -->
    <section class="w-full min-h-[100vh] pt-10 lg:pt-40">
        <Common.Container flex='flex-col'>
            <!-- Top Header -->
            <div class="w-full flex flex-col md:flex-row gap-10">
                <div class="w-full md:w-2/4 flex-col flex-wrap">
                    <h6 class="uppercase text-green font-bold">Our Team</h6>
                    <h2 class="text-[23px] leading-[22px] md:text-[32px] md:leading-[30px] lg:text-[38px] text-darkBlue font-bold mt-4 lg:leading-[45px]">If you want to lift yourself up, lift up someone else.</h2>
                </div>
                <div class="w-full md:w-2/4">
                    <p class="text-gray-900">
                        Our team is made up of passionate individuals who are dedicated to making a difference in the world.
                        We believe that by working together, we can achieve great things and make a positive impact on the lives of others.
                    </p>
                    <div class="mt-6">
                        <Common.Button path="#" text="Discover More" className="py-2 px-4 text-[16px] mt-6 text-white bg-[#0fcc7c] rounded-full baseline hover:bg-darkBlue" />
                    </div>
                </div>
            </div>
            <!-- Team Gallery -->
            <div class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5 mt-20">
                {
                    Data.members.map(item => (
                    <div class="overflow-hidden w-full lg:w-[300px] h-[300px] flex bg-cover bg-no-repeat bg-center rounded-xl" style={{ backgroundImage: `url(${item.img})`}}>
                        <div class="w-full h-full cursor-pointer flex-col justify-center items-center mt-20 pt-44 pb-10 text-center ease-in-out delay-150 duration-300 hover:-translate-y-20" style={{ backgroundImage: 'linear-gradient(180deg, #00384F00 0%, #00384F 100%)'}}>
                            <h6 class="text-white text-[20px] mb-6 font-bold">{item.name}</h6>
                            {/* <p class="text-[#0fcc7c] uppercase font-bold text-center">{item.title}</p> */}
                            <div class="flex justify-center items-center mt-3 gap-2">
                                <div class="w-[max-content] bg-[#0FCC7C] p-2 rounded-full transition duration-150 ease-in-out hover:scale-125 hover:bg-white"> 
                                    <TiSocialFacebook size={'20px'} className='text-white hover:text-[#0FCC7C]' />
                                </div>
                                <div class="w-[max-content] bg-[#0FCC7C] p-2 rounded-full transition duration-150 ease-in-out hover:scale-125 hover:bg-white"> 
                                    <TiSocialTwitter size={'20px'} className='text-white hover:text-[#0FCC7C]' />
                                </div>
                                <div class="w-[max-content] bg-[#0FCC7C] p-2 rounded-full transition duration-150 ease-in-out hover:scale-125 hover:bg-white"> 
                                    <PiInstagramLogo size={'20px'} className='text-white hover:text-[#0FCC7C]' />
                                </div>
                            </div>
                        </div>
                    </div>
                    ))
                }
            </div>
        </Common.Container>
    </section>

    <!-- Our Values -->
    <section class="w-full min-h-screen bg-[#00384F] mt-36 md:mt-64 pb-10 md:pb-20">
        <Common.Container>
            <div class="w-full flex-col">
                <!-- Video Card -->
                <div class="w-full h-[350px] -mt-[100px] flex rounded-2xl bg-cover bg-no-repeat bg-center" style={{ backgroundImage: 'linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/teams_video.jpg)'}}>
                    <div class="w-full md:w-[40%] mx-auto text-center flex flex-col justify-center items-center">
                        <!-- <div class="cursor-pointer w-[80px] h-[80px] bg-white rounded-full flex justify-center items-center hover:shadow-2xl hover:bg-[#0fcc7c]">
                            <IoPlaySharp className='text-[#0fcc7c] hover:text-white' size={'40px'} />
                        </div> -->
                        <h4 class="text-white font-bold mt-3 text-[28px] md:text-[36px]">We're a team of passionate individuals.</h4>
                    </div>
                </div>
                <!-- Banner -->
                <div class="mt-10 md:mt-20 flex flex-col md:flex-row md:gap-x-5 lg:gap-x-10">
                    <div class="w-full md:w-[50%] lg:w-[45%]">
                        <h6 class="uppercase text-[#0fcc7c] font-bold">Our value</h6>
                        <h2 class="text-[28px] leading-[30px] md:text-[28px] lg:text-[38px] text-white font-bold mt-4 lg:leading-[45px]">
                            Unlock true potential and transform your life with lpvtech today.
                        </h2>
                        <p class="text-gray-300 mt-5">
                            Make the switch to solar energy and start saving money today. Our team of experts will help you find the perfect solution for your home or business.
                            With our help, you can reduce your carbon footprint and make a positive impact on the environment.
                        </p>
                        <div class="mt-10">
                            <Common.Button path="#" text="Discover More" className="py-2 px-4 text-[16px] mt-6 text-white bg-[#0fcc7c] rounded-full baseline hover:bg-darkBlue" />
                        </div>
                    </div>
                    <div class="w-full mt-16 md:mt-0 md:w-[50%] lg:w-[55%] pl-0 lg:pl-10">
                        <div class="w-full bg-[#001721] pb-10 rounded-2xl md:px-3">
                            <Common.Container flex='flex-col'>
                                {
                                    Data.teams_value.map(item => (
                                        <div class="flex pt-5 pb-5 border-b-2 border-b-gray-700 ">
                                            <div class="flex-col">
                                                <span class="text-[#0fcc7c] text-[25px]">{item.title}</span>
                                                <p class="text-gray-300 mt-1">{item.description}</p>
                                            </div>
                                            <div class="mb-10">
                                                <PiArrowUpRight className='text-gray-700 cursor-pointer' size={'35px'} />
                                            </div>
                                        </div>
                                    ))
                                }
                            </Common.Container>
                        </div>
                    </div>
                </div>
            </div>
        </Common.Container>
    </section>

    <!-- Join our team section -->
    <section class="w-full min-h-[60vh] md:min-h-[40vh] lg:min-h-[60vh] py-10 lg:py-32">
        <Common.Container>
            <!-- <div class="flex justify-center items-center"> -->
                <div class="w-full md:w-[80%] lg:w-[50%] mx-auto p-10 pb-20 border border-gray-200 text-center rounded-xl">
                    <h6 class="uppercase text-[#0fcc7c] font-bold">Join our team</h6>
                    <h2 class="text-[28px] leading-[30px] lg:text-[36px] text-darkBlue font-bold mt-4 lg:leading-[40px]">
                        Ready to make a difference? Join our project team today!
                    </h2>
                    <p class="text-gray-700 mt-5">
                        Ad facilisis nisl rutrum velit condimentum nisi 
                        penatibus fermentum. Eleifend fames at ipsum purus 
                        morbi lectus.
                    </p>
                    <div class="mt-7">
                        <Common.Button path="#" text="Contact Us" className="py-2 px-4 text-[16px] mt-6 text-white bg-[#0fcc7c] rounded-full baseline hover:bg-darkBlue" />
                    </div>
                </div>
            <!-- </div> -->
        </Common.Container>
    </section>
</Layout>